.local__images{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.local__image{
    position: relative;
}
.local__image svg{
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
}